@import "corporate-design/colors";

/* COLORS */

$color-primary:         $bright-green;
$color-secondary:       $bright-blue;

$color-link:            $color-secondary;
$color-text:            $dark-grey;

$color-background:      $white;

/* TEXT STYLE */

$font-family:           "Exo 2";
$font-size-regular:     14px;
