

$white:                   #000000;

$bright-green:            #B1E11C;

$bright-blue:             #1b70ff;

$light-grey:              #fafafa;
$grey:                    #eeeeee;
$dark-grey:               #424242;
